/* main */

@import url("fonts.css");
@import url("var.css");
@import url("ui.css");

/* Main */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
    outline: none;

    font-family: "Exo 2";
    color: var(--color__text_0);
}

/* Body */

body,
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

body {
    background-color: var(--color__text_5);
}

.container {
    max-width: var(--grid__page-total);
}

/* header */

.header {
    max-width: var(--grid__total);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* Logo */

.header__logo {
    max-width: 180px;
    width: 100%;
}

.header__logo-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.header__logo-icon {
    width: 50px;
    height: 50px;
}

.header__company-name {
    margin-left: 5px;
    max-width: 125px;
    width: 100%;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--color_main-light_1);
}

.header__company-title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 175%;
    letter-spacing: 0.02em;
    color: var(--color__text_4);
}

/* Search */

.header__search {
    max-width: 300px;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__search-input {
    max-width: inherit;
    width: 100%;
    height: 40px;
}

.header__search-btn {
    width: 15px;
    height: 15px;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto 0;
    position: absolute;
}

.header__search-btn__icon {
    width: 15px;
    height: 15px;
}

/* Phone */

.header__phone {
    max-width: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header__phone-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.header__phone-text {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
}

/* Socials */

.header__social {
    max-width: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.header__social-item,
.header__social-item a {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--color_main-light_2)
}

.header__social-item__icon {
    width: 13px;
    height: 13px;
}

.header__social-item__icon,
.header__social-item__icon>svg,
.header__social-item__icon>path {
    fill: var(--color_main-light_1);
}

/* Button */

.header__button {
    max-width: 170px;
    width: 100%;
    height: 40px;
}

.header__button span {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 171.4%;
    text-transform: uppercase;
    z-index: 1;
}

/* Localization */

.header__localization {
    max-width: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header__localization-item {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--color__text_4);
    opacity: 0.4;
}

.header__localization-item.active {
    opacity: 1;
}

/* Bars */

.bar__container {
    position: relative;
    height: 20px;
    width: 25px;
}

.bar {
    width: 25px;
    height: 2px;
    border-radius: 5px;
    background: var(--color__text_0);
    position: absolute;
}

.bar_top {
    top: 0;
}

.bar_middle {
    top: 0;
    bottom: 0;
    margin: auto;
}

.bar_bottom {
    bottom: 0;
}

.bar__container:hover .bar {
    background: var(--color_main-light_1);
}

.bar__container.active .bar_middle {
    opacity: 0;
}

.bar__container.active .bar_top {
    transform: rotate(45deg);
    bottom: 0;
    margin: auto;
}

.bar__container.active .bar_bottom {
    transform: rotate(-45deg);
    top: 0;
    margin: auto;
}

/* Sidebar */

.sidebar {
    max-width: 900px;
    width: 100%;
    height: 100vh;
    position: fixed;
    margin-left: -100%;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    z-index: 1;
    background: var(--color_main-light_2);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.sidebar.active {
    margin: 0;
}

.sidebar__left {
    max-width: 440px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 60px;
    background: var(--color__text_5);
}

.sidebar__right {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 60px;
}

/* Bar */

.sidebar__bar {
    position: absolute;
    left: 20px;
    top: 20px;
}

.sidebar__bar .bar {
    width: 20px;
}

/* Nav */

.sidebar__nav {
    width: 100%;
    gap: 10px;
}

.sidebar__nav-item {
    position: relative;
    width: 100%;
}

.sidebar__nav-item__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}


/* Icon */

.sidebar__nav-item__icon {
    position: absolute;
    left: -30%;
    width: 20px;
    height: 20px;
    opacity: 0;
    margin-bottom: 5px;
    transition: 0.3s ease-in-out;
}

.sidebar__nav-item.active .sidebar__nav-item__icon,
.sidebar__nav-item:hover .sidebar__nav-item__icon {
    left: -25px;
    opacity: 1;
}

.sidebar__nav-item.active .sidebar__nav-item__icon {
    transform: rotate(90deg);
}

/* Link */

.sidebar__nav-item__link {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: var(--color__text_4);
    margin-bottom: 5px;
}

.sidebar__nav-item:hover .sidebar__nav-item__link {
    text-decoration-line: underline;
    color: var(--color_main-light_1)
}

/* Children */

.sidebar__nav-item__children {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    max-height: 0;
    overflow: hidden;
    /* transition: 0.5s ease-in-out; */
}

.sidebar__nav-item.active .sidebar__nav-item__children {
    max-height: 100vh;
}

.nav-item__children-item__link {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #8A8A8A;
}

.nav-item__children-item:hover .nav-item__children-item__link {
    color: var(--color_main-light_1)
}

.nav-item__children-item__dot {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background-color: #8A8A8A;
    margin-right: 10px;
}

.nav-item__children-item:hover .nav-item__children-item__dot {
    background-color: var(--color_main-light_1)
}

/* Sidebar footer */
.sidebar__link {
    margin-bottom: 30px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration-line: underline;
    color: var(--color_main-light_1);
}

.sidebar__border {
    width: 100%;
    height: 1px;
    background-color: #D1D8D7;
    margin: 45px 0;
}

.sidebar__nav-footer {
    width: 100%;
}

.sidebar__nav-footer__row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.sidebar__nav-footer__qr {
    width: 30px;
    height: 30px;
}

.sidebar__nav-footer__qr-link {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: underline;
    color: var(--color_main-light_1);
    margin-left: 10px;
}

.sidebar__nav-footer__description {
    margin-top: 5px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: var(--color__text_4);
}

/* Sidebar right */

.sidebar__right-title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 175%;
    color: var(--color__text_4);
    margin-bottom: 10px;
}

.sidebar__right-list,
.sidebar__right-list__item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.sidebar__right-list {
    gap: 20px;
}

.sidebar__right-list__item-title__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__right-list__item-title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    color: var(--color__text_4);
}

.sidebar__right-list__item-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.sidebar__right-list__item-description {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    color: var(--color__text_4);
}