/* main */

@import url("fonts.css");
@import url("var.css");
@import url("ui.css");

/* Main */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
    outline: none;

    font-family: "Exo 2", sans-serif;
    color: var(--color__text_0);
}

/* Body */

body,
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow-x: hidden;
}

body {
    background-color: var(--color__text_5);
    position: relative;
}

.container {
    max-width: var(--grid__page-total);
}

.home .screen {
    margin-bottom: 100px;
}

/* header */

.header,
.header__list {
    max-width: var(--grid__total);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* Logo */

.header__logo {
    max-width: 180px;
    width: 100%;
}

.logo .row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.logo .icon {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.logo .name {
    margin-left: 5px;
    max-width: 125px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color_main-light_1);
}

.logo .slogan {
    font-weight: 400;
    font-size: 11px;
    color: var(--color__text_4);
}

/* Search */

.search__container {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.search {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search_header {
    max-width: 300px;
}

.search_page {
    max-width: 500px;
}

.search-input {
    max-width: inherit;
    width: 100%;
    height: 40px;
}

.search-btn {
    width: 15px;
    height: 15px;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto 0;
    position: absolute;
}

.search-btn__icon {
    width: 15px;
    height: 15px;
}

/* Phone */

.header__phone {
    max-width: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header__phone .icon {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}


/* Socials */

.header__social {
    max-width: 100px;
}

.social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.social_footer {
    justify-content: start;
}

.social .item a {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.social .item .icon {
    width: 20px;
    height: 20px;
}

/* Button */

.header__button {
    max-width: 170px;
    width: 100%;
    height: 40px;
}

/* Localization */

.header__localization {
    max-width: 60px;
}

.Localization {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.Localization .item {
    font-weight: 500;
    color: var(--color__text_4);
    opacity: 0.4;
}

.Localization .item.active {
    opacity: 1;
}

/* Bars */

.bar__container {
    position: relative;
    height: 20px;
    width: 25px;
}

.bar {
    width: 25px;
    height: 2px;
    border-radius: 5px;
    background: var(--color__text_0);
    position: absolute;
}

.bar_top {
    top: 0;
}

.bar_middle {
    top: 0;
    bottom: 0;
    margin: auto;
}

.bar_bottom {
    bottom: 0;
}

.bar__container.active .bar_middle {
    opacity: 0;
}

.bar__container.active .bar_top {
    transform: rotate(45deg);
    bottom: 0;
    margin: auto;
}

.bar__container.active .bar_bottom {
    transform: rotate(-45deg);
    top: 0;
    margin: auto;
}

/* Sidebar */

.sidebar {
    max-width: 900px;
    width: 100%;
    height: 100vh;
    position: fixed;
    margin-left: -100%;
    top: 0;
    left: 0;
    transition: 0.7s ease-in-out;
    z-index: 11;
    background: var(--color_main-light_2);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    width: 0;
}

.sidebar.active {
    margin: 0;
    transition: 0.5s ease-in-out;
}

.sidebar__left {
    max-width: 440px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 60px;
    background: var(--color__text_5);
}

.sidebar__right {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 60px;
}

.sidebar__mobile-list {
    display: none;
}

/* Bar */

.sidebar__bar {
    position: absolute;
    left: 20px;
    top: 20px;
}

.sidebar__bar .bar {
    width: 20px;
}

/* Nav */

.sidebar__nav {
    width: 100%;
}

.sidebar__nav-item {
    position: relative;
    width: 100%;
}

.sidebar__nav-item .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}


/* Icon */

.sidebar__nav-item .icon {
    position: absolute;
    left: -30%;
    width: 20px;
    height: 20px;
    opacity: 0;
    margin-bottom: 5px;
    transition: 0.3s ease-in-out;
}

.sidebar__nav-item.active .icon,
.sidebar__nav-item:hover .icon {
    left: -25px;
    opacity: 1;
}

.sidebar__nav-item.active .icon {
    transform: rotate(90deg);
}

/* Link */

.sidebar__nav-item .link {
    color: var(--color__text_4);
}

.sidebar__nav-item .link:hover {
    text-decoration: underline;
    color: var(--color_main-light_1)
}

/* Children */

.sidebar__nav-item .children {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin: 5px 0;
    max-height: 0;
    overflow: hidden;
}

.sidebar__nav-item.active .children {
    max-height: 100vh;
}

.sidebar__nav-item .children .link {
    color: #8A8A8A;
}

.sidebar__nav-item .children .link:hover {
    text-decoration: none;
}

.sidebar__nav-item .children .list_dot:hover::before {
    background: var(--color_main-light_1)
}

/* Sidebar footer */
.sidebar__link {
    text-decoration: underline;
    color: var(--color_main-light_1);
}

.sidebar__border {
    width: 100%;
    height: 1px;
    background-color: #D1D8D7;
    margin: 45px 0;
}

.qr__info {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.qr__info .row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.qr__info .qr {
    width: 30px;
    height: 30px;
}

.qr__info .row .link {
    text-decoration: underline;
    color: var(--color_main-light_1);
    margin-left: 10px;
}

.qr__info .text {
    color: var(--color__text_4);
}

/* Sidebar right */

.contact__list .main-title {
    color: var(--color__text_0);
    margin-bottom: 10px;
}

.contact__list .list,
.contact__list .list .item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.contact__list .list {
    gap: 20px;
}

.contact__list .list .item .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__list .list .item .title {
    color: var(--color__text_0);
}

.contact__list .list .item .row .icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.contact__list .text {
    color: var(--color__text_4);
}

/* Screens */
.screen {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 70px;
}

.screen_padding {
    padding: 50px;
}

.screen_first {
    margin-top: 0 !important;
}

.screen_grid-total {
    max-width: var(--grid__total);
}

.screen_overflow {
    overflow: hidden;
}

.screen_grid__page-total {
    max-width: var(--grid__page-total);
}

.screen_gradient_blue {
    background: var(--color_main-light_2);
}

.screen_blue {
    background: var(--color_main-light_2);
}

.screen__title {
    color: var(--color__text_4);
}

/* First */

.welcome-screen {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 0;
}

.welcome-screen__info {
    max-width: 660px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.welcome-screen__info h1 {
    color: var(--color__text_1);
}

.welcome-screen__info h3 {
    color: var(--color__text_1);
    margin: 5px 0 30px 0;
}

.welcome-screen__info p {
    max-width: 450px;
    color: var(--color__text_3);
    opacity: 0.8;
}

.welcome-screen__info-footer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

.welcome-screen__info-button {
    max-width: 230px;
    width: 100%;
    height: 60px;
}

.welcome-screen__img {
    max-width: 480px;
    width: 100%;
    height: auto;
    object-fit: cover;
    mix-blend-mode: darken;
}

/* Play button */

.play__container {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid var(--color_light_0);
    position: relative;
}

.play__circle {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: var(--color_linear_active);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.play__triangle {
    position: absolute;
    top: 0;
    left: 3px;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    width: 13px;
    height: 12px;
}

.play__circle_small {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background: var(--color_linear_active);
    position: absolute;
    top: 6px;
    left: 5px;
}

.player-ctrl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    z-index: 1;
}

.welcome-screen__player-ctrl .player-ctrl__quote {
    max-width: 160px;
    width: 100%;
    color: var(--color__text_3)
}

.player-ctrl:hover .player-ctrl__quote {
    text-decoration: underline;
}

/* Youtube */

.youtube-modal,
.youtube-modal iframe {
    max-width: 800px;
    width: 100%;
    max-height: 400px;
    height: 100%;
}

.modal__close-bar {
    width: 25px;
    height: 25px;
}

/* steps */

.step {
    width: 100%;
    overflow: scroll;
}

.step::-webkit-scrollbar,
.splide-news::-webkit-scrollbar {
    width: 0;
}

.step-screen__title {
    width: 100%;
    text-align: center;
    color: var(--color__text_1);
    margin-bottom: 30px;
}

.step .list {
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 30px;
}

.step .item {
    width: 260px;
    min-height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: var(--color_main-light_2);
    border-radius: 5px;
    padding: 40px 30px;
    position: relative;
    cursor: pointer;
}

.step .item:hover {
    box-shadow: 0px 20px 35px -15px #0086744d;
}

.step .item.active {
    width: 550px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    background: var(--color_linear_component_hover);
    box-shadow: 0px 20px 35px -15px #0086744d;
}

.item__number {
    max-width: 45px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_light_2);
    background-color: var(--color_main-light_0);
    border-radius: 5px;
}

.item__info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item.active .item__info {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
}

.item__info-title {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
    color: var(--color__text_2);
}

.item.active .item__info-title {
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: var(--color__text_2);
}

.item__info-description {
    display: none;
}

.item.active .item__info-description {
    display: block;
    width: 100%;
    text-align: left;
    color: var(--color__text_1);
    margin: 10px 0;
}

.item__info-link {
    display: none;
}

.item.active .item__info-link {
    display: block;
    width: 100%;
    text-align: left;
    color: var(--color_main-light_0);
}

.item__hammer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: auto;
    display: none;
}

.item.active .item__hammer {
    display: block;
}

.swiper__sr {
    display: none;
}

/* Conflict */

.conflict-screen__title,
.step-screen__title,
.check-screen__title {
    max-width: 650px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: var(--color__text_gray);
}

.conflict-screen__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 30px;
}

.conflict-screen__list-item {
    flex: 1;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.conflict-screen__list-item__icon {
    width: auto;
    height: 50px;
}

.conflict-screen__list-item__description {
    color: var(--color__text_4)
}

/* Check screen */

.check-screen {
    border-radius: 15px;
    background-color: var(--color_main-light_2);
    padding: 50px;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.check-screen__row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.check-screen__button {
    max-width: 230px;
    width: 100%;
    height: 60px;
}

.about-screen {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.about-screen__info {
    max-width: 565px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.about-screen__button {
    max-width: 230px;
    width: 100%;
    height: 60px;
}

.about-screen__video {
    max-width: 640px;
    width: 100%;
    min-height: 430px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.about-screen__video .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.player-ctrl_about .annotation {
    max-width: 300px;
    width: 100%;
    color: var(--color__text_5) !important;
    margin: 0;
}

/* News screen */

.news-screen {
    gap: 40px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.news-screen__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.tab_border .item {
    margin-bottom: 0 !important;
}

.news-screen__tabs-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.tabs__header-title__list .item {
    display: none;
}

.tabs__header-title__list .item.active {
    display: block;
}

.news-screen__tabs-header .link {
    font-weight: normal;
    color: var(--color__text_4);
}

.news-screen__tabs-header .item.active .link {
    color: var(--color_main-light_1);
    text-decoration: underline;
    font-weight: bold;
}

.news-screen__content {
    width: 100%;
}

.news-screen__content .swiper__track {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.news-screen__content .slider {
    display: flex;
    gap: 30px;
    width: max-content;
}

.news-screen__content .content-item {
    max-width: 400px;
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.news-screen__content .content-item .info {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.news-screen__content .content-item .info .icon {
    opacity: 0;
}

.news-screen__content .content-item .info .link:hover .icon {
    opacity: 1;
}

.news-screen__content .content-item .img {
    width: 100%;
    height: 210px;
    border-radius: 10px;
    object-fit: cover;
}

.news-screen__button {
    max-width: 230px;
    width: 100%;
    height: 60px;
    margin: auto;
}

.splide-news {
    width: 100%;
    overflow: scroll;
}

/* faq */

.faq-screen {
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accordion-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.accordion-list .item {
    max-width: 900px;
    width: 100%;
    padding: 30px 40px;
    gap: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

/* .accordion-list .item,
.gradient-bg__active::after {
    transition: 0.3s ease-in-out;
} */

.accordion-list .item.active,
.accordion-list .item:hover {
    border-color: transparent;
    background: var(--color_main-light_2)
}

.accordion-list .item .hide {
    overflow: hidden;
    max-height: 0;
    margin-left: 80px;
}

.accordion-list .item.active .hide {
    max-height: 100%;
}

.accordion-list .item .row {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.accordion-list .item .title {
    margin-left: 70px;
}

.plus__container {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
}

.plus {
    position: absolute;
    transition: 0.3s ease-in-out;
    height: 3px;
    width: 20px;
    border-radius: 2px;
    background-color: var(--color_main-light_1);
}

.plus__vertical {
    transform: rotate(90deg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.plus__horizontal {
    top: 0;
    bottom: 0;
    margin: auto
}

.plus__container.active .plus__vertical,
.accordion-list .item.active .plus__vertical {
    transform: rotate(0);
}

.faq-screen__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.faq-screen__button {
    max-width: 230px;
    width: 100%;
    height: 60px;
}

/* footer */

.footer {
    max-width: 1920px;
    width: 100%;
    padding: 60px 30px;
    background: var(--color_main-light_2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
}

.footer__content .block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.footer__content .block__first,
.footer__content .block__third {
    flex: 1;
}

.footer__content .block__second {
    flex: 2;
    display: flex;
    flex-direction: row
}

.footer__content .list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.footer__content .list .item {
    width: 100%;
}

.footer__content .block__second-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__content .block__second-list .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__content .block__second-list .list_dot::before {
    background: var(--color_main-light_1)
}

/* breadcrumb */

.breadcrumb {
    display: flex;
    justify-content: start;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.screen_breadcrumb {
    margin-top: 15px;
    margin-bottom: 40px;
}

.breadcrumb__item::after {
    content: url("./../icons/arrow-90.svg");
    width: 10px;
    height: 10px;
    margin: 0 10px;
}

.breadcrumb__item:last-child::after {
    content: ''
}

/* Content */

.content {
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-bottom: 50px !important;
}

.content__section {
    width: 100%;
}

.content_with-sidebar {
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
}

.content_center {
    max-width: 850px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* .content_sidebar_without-bg {
    padding-right: 380px;
} */

.content-sidebar {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    width: 100%;
    min-height: 300px;
    background: var(--color_main-light_2);
    border-radius: 15px;
    padding: 40px;
}

.content-sidebar .list {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.content-sidebar .item .icon {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    transition: 0.3s;
}

.content-sidebar .children__list {
    width: 100%;
    max-height: 0;
    overflow: hidden;
}

.content-sidebar .item.active .children__list {
    margin-top: 10px;
    max-height: 100%;
}

.content-sidebar .item.active .icon {
    transform: rotate(90deg)
}

.content-sidebar .children__item {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 23px;
}

/* content__people-card */

.content__people-card_author {
    margin-bottom: 0 !important;
}

.content__people-card {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.content__people-card .profile {
    display: flex;
    gap: 30px;
}

.content__people-card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.content__people-card .img {
    width: 100%;
}

.content__people-card .img_big {
    max-width: 200px;
    height: 250px;
}

.content__people-card .img_small {
    max-width: 100px;
    height: 100px;
}

.content__people-card .info .h8 {
    margin: 0 0 10px 0;
}

.content__people-card .info p:last-child {
    margin: 0;
}


.content__people-card .info.center {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.content__people-card .info,
.content__people-card .social {
    width: 100%;
}

.content__people-card .social,
.content__people-card .profile {
    flex: 1;
}

.content__people-card .social {
    display: flex;
    justify-content: end;
}

.content__people-card .social .button {
    max-width: 220px;
    height: 50px;
    gap: 10px;
    font-weight: normal;
}

.content__people-card .social .img {
    width: 20px;
}

.content__people-card .social .icon {
    width: 50px;
    height: 50px;
}

/* journal */

.content__section-journal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    gap: 40px;
}

.content__section-journal__list {
    max-width: 260px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.content__section-journal__list-item::before {
    display: none !important;
}

.content__section-journal__list-item {
    list-style: none !important;
    max-width: 120px;
    width: 100%;
    flex-direction: column;
}

.content__section-journal__list-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.content__section-journal__info {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}

.content__section-journal__button {
    max-width: 320px;
}

/* */

.date {
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.date img {
    width: 20px;
    height: 20px;
}

.content__section-example {
    max-width: 530px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.content__section-example .item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.content__section-example .item img {
    width: 40px;
    height: auto
}

.content__section-example .item a {
    font-size: 16px;
    font-weight: normal;
    margin: 0 !important;
}

.content__section-socials {
    margin: 10px 0;
}

.content__section-socials a {
    margin: 0 5px 0 0;
}

.content__section__picture {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.content__section__picture img {
    max-width: 100% !important;
    height: auto;
}

.content__section .quote {
    margin: 40px 0;
    padding: 10px 20px;
    border-left: 2px solid var(--color_main-light_1);
}

.quote .text {
    font-style: italic;
    font-weight: normal;
}

.quote .author {
    margin: 0;
    color: var(--color__text_4);
}

/*  */

.container__content-header {
    min-height: 300px;
    position: relative;
    gap: 40px;
}

.container__content-header_faq .info {
    gap: 20px !important;
}

.container__content-header_about {
    min-height: 530px;
    padding-bottom: 200px;
    margin-bottom: 100px;
}

.container__content-header,
.container__content-header .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__content-header .info {
    max-width: 650px;
    gap: 40px;
}

.info__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.container__content-header .card__list {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    bottom: -15%;
    left: 0;
    gap: 30px;
    z-index: 1;
}

.card__item {
    flex: 1;
    border-radius: 15px;
    background: var(--color__text_5);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card__item h1,
.card__item p {
    text-align: center;
}

.screen__page-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

/* photo card */

.photo-card__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.photo-card__list .item {
    max-width: 390px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}


.photo-card__list .item_about {
    height: 300px;
}

.photo-card__list .item_kb {
    height: 200px;
}

.photo-card__list .item_kb .info {
    justify-content: center !important;
    align-items: center !important;
    gap: 20px;
}

.photo-card__list .item_kb .info p {
    text-align: center;
}

.photo-card__list .item_kb .info .icon {
    width: 60px;
    height: 60px;
}

.photo-card__list .item .info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    padding: 40px 30px;
    z-index: 1;
    position: relative;
}

.photo-card__list .item .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    object-fit: cover;
    z-index: 0;
}

.photo-card__list .item .hidden {
    color: var(--color_light_1);
    max-height: 0;
    overflow: hidden;
}

.photo-card__list .item:hover .hidden {
    max-height: 100%;
}

.photo-card__list .item:hover {
    cursor: pointer;
}

.photo-card__list .item a {
    transition: 0.3s;
}

.photo-card__list_resize .item {
    height: 230px;
}

.photo-card__list_resize .column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.photo-card__list_resize .column .item:nth-child(1) {
    height: 150px;
}

.photo-card__list_resize .column .item:nth-child(3) {
    height: 310px;
}

.photo-card__list_resize .column:nth-child(2) .item {
    height: 230px;
}


/* advertisement */

.advertisement {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    border-radius: 5px;
    gap: 30px;
    margin: 40px 0;
    background: var(--color_main-light_2);
    padding: 30px;
}

.advertisement_center {
    align-items: center !important;
}

/* 
.advertisement_bg {
    background: var(--color_main-light_2);
    padding: 30px;
} */

.advertisement .icon img {
    width: 40px;
}

.advertisement .info {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.advertisement .button {
    max-width: 260px;
}

/* news */

.screen_left {
    align-items: start !important;
}

.screen_center {
    align-items: center !important;
}

.screen_right {
    align-items: end !important;
}

.screen_column {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.content__search {
    margin-bottom: 30px;
}

.screen_search,
.result__list {
    gap: 40px;
}

.screen_search,
.result__list,
.result__list .result__item {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.result__list {
    max-width: 800px;
}

.result__list .result__item {
    gap: 10px;
}

.result__list .result__item .date {
    margin: 0;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}


.tab_border {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #878787;
    gap: 20px;
}

.tab_border .item.active .tab-link {
    position: relative;
    padding: 10px 0;
}

.tab-link:hover {
    cursor: pointer;
}

.tab_border .item.active .tab-link::after {
    content: ' ';
    width: 100%;
    height: 3px;
    background: var(--color__text_2);
    position: absolute;
    bottom: -3px;
    left: 0;
}

/* QR modal */

.qr-modal {
    max-width: 360px;
    max-height: 520px;
    height: 100%;
    padding: 60px 40px;
    background: var(--color__text_5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.qr-modal .img {
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 20px 35px -15px #0086744d;
}

.answer {
    width: 100%;
    padding: 30px;
    background: var(--color_main-light_2);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 15px;
}

.answer .text:last-child {
    margin: 0;
}


/* event */
.event-trigger {
    margin: 30px 0;
}

.event {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 60px;
    margin: 30px 0;
}

.event .item {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
}

.event .item .title {
    font-size: 12px;
    margin-bottom: 5px;
}

.event .item .text {
    font-size: 14px;
    color: var(--color_main-light_1);
}

.event__plan .item .date {
    flex: 1;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.count {
    max-width: 90px;
    width: 100%;
}

.result-count {
    max-width: 230px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.page-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page-list .item {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.page-list .link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-list .page {
    border-radius: 5px;
}

.page-list .page:hover {
    background: var(--color_main-light_2);
}

.arrow img {
    width: 20px;
    height: 20px;
}


.dropdown {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.dropdown .item {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: relative;
}

.dropdown.active .item,
.dropdown .item.active {
    max-height: 100%;
}

.dropdown .item.active,
.dropdown .item:hover {
    background: var(--color_main-light_2);
}

.dropdown .item:hover .button {
    color: var(--color_main-light_1);
}

.dropdown .item::before {
    content: url('./../icons/arrow_bottom.svg');
    position: absolute;
    height: 100%;
    width: 10px;
    top: 5px;
    right: 5px;
    opacity: 0.6;
}

.dropdown.active .item.active::before,
.dropdown .item:hover::before {
    top: -6px;
    transform: rotate(180deg);
    opacity: 1;
}

.dropdown .item::before {
    transform: rotate(0);
    top: 5px;
}

.dropdown .item.active {
    position: relative !important;
}

.dropdown .list {
    position: absolute;
    width: inherit;
    height: auto;
    background: #fff;
    border-radius: 5px;
}

.dropdown.active .list {
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
}

.dropdown .item .button {
    width: 100%;
    background: none
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.like {
    width: 100%;
    margin-bottom: 30px;
}

.button_like {
    max-width: 100px;
    color: var(--color__text_0);
}

.button_like:hover {
    background: transparent;
    color: var(--color_main-light_1);
    border-color: var(--color_main-light_1);
}







.header__search-mobile {
    display: none;
}

.header__search-mobile .hide {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 40px;
    z-index: 1;
    top: -100%;
    left: 0;
    position: absolute;
    background: var(--color__text_5);
}

.header__search-mobile .hide.active {
    top: 0;
}

.search__close {
    position: relative;
    top: 0;
}

.search__close img,
.search__open img {
    width: 25px;
    height: 25px;
}

.sidebar__phone,
.sidebar__phone-border {
    display: none;
}

.appeal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.appeal__item {
    display: flex;
    align-items: center;
    justify-content: start;
}

.appeal__item img {
    width: 40px;
    height: auto;
}

.appeal__item .p {
    margin: 0;
}

.contacts__page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contacts__list,
.contacts__list .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contacts__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.contacts__list .item {
    gap: 20px;
}

.contacts__list .children {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contacts__list .children .children_row {
    flex-direction: row !important;
}

.contacts__list .item .column {
    display: flex;
}

.map {
    margin-bottom: 0;
    height: 650px;
}

.question-list {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.question-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.screen_quiz {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.screen_quiz .quiz_item {
    width: 100%;
    flex-direction: column;
    gap: 30px;
    display: none;
}

.screen_quiz .quiz_item.active {
    display: flex;
}

.status-bar {
    margin-top: 10px;
    width: 100%;
}

.status-bar .loader {
    width: 100%;
    height: 10px;
    background-color: var(--color_main-light_2);
    position: relative;
    margin: 10px 0;
    border-radius: 2px;
}

.status-bar .loader .line,
.status-bar .loader .rocket {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.status-bar .loader .line {
    background: url('./../img/main/loader.png');
}

.status-bar .loader .rocket {
    width: 30px;
    height: 30px;
}

.screen_quiz_1 .status-bar .loader .line {
    width: 10%;
}

.screen_quiz_1 .status-bar .loader .rocket {
    left: 10%;
}

.screen_quiz_1 .buttons .button {
    max-width: 300px;
}

.screen_quiz_2 .status-bar .loader .line {
    width: 33%;
}

.screen_quiz_2 .status-bar .loader .rocket {
    left: 33%;
}

.screen_quiz_3 .status-bar .loader .line {
    width: 66%;
}

.screen_quiz_3 .status-bar .loader .rocket {
    left: 66%;
}

.screen_quiz_4 .status-bar .loader .line {
    width: 100%;
}

.screen_quiz_4 .status-bar .loader .rocket {
    left: 100%;
}

.screen_quiz_4 .button {
    max-width: 270px;
    width: 100%;
    margin: auto;
    height: 50px;
}

.files__message .block {
    width: 100%;
    background: var(--color_main-light_2);
    padding: 10px;
    border-radius: 5px;
}

.files__message .icon {
    width: 30px;
}

.screen_quiz .logo {
    margin: auto;
    max-width: 300px;
}

.screen_quiz .navigation {
    justify-content: space-between;
}

.screen_quiz .navigation .button {
    max-width: 120px;
}

.files__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.files__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.files__item .download {
    padding: 10px;
    max-width: 100px;
    border-radius: 5px;
    border: 1px solid #DDE2E4;
}

.files__item .download:hover {
    border-color: var(--color_main-light_1);
    cursor: pointer;
}

.files__item .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-name {
    padding: 2px 10px;
    height: 35px;
    display: none;
    gap: 10px;
    color: var(--color__text_5);
    background: var(--color_main-light_1);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.item__file-info {
    align-items: center;
    justify-content: start;
    margin-left: 10px;
}

.item__file-info .replace {
    display: none;
}

.item__file-info.active .file-name,
.item__file-info.active .replace {
    display: flex;
}

.item__file-info.active .upload {
    display: none;
}

.file-name .icon {
    width: 20px;
    height: auto
}

.file-name .title {
    color: var(--color__text_5);
}

.input-email {
    max-width: 430px;
    border: 1px solid var(--color__text_4);
    background: transparent;
}

.warning-modal {
    max-width: 600px;
    max-height: 420px;
    height: 100%;
    padding: 40px 20px;
    background: var(--color__text_5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.table {
    width: 100%;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

tr:first-child {
    background: #E7EBEF;
}

td,
th {
    padding: 20px 10px;
    text-align: center;
    vertical-align: middle;
}

td {
    background: #F9FAFB;
}

td:first-child {
    width: 20%;
}

td:nth-child(2) {
    width: 30%;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(6),
td:nth-child(7) {
    width: 10%;
}

td:nth-child(5) {
    width: 20%;
}


@media screen and (max-width: 1024px) {

    /* Header */

    .header {
        padding: 0 40px;
    }

    .header__social,
    .header__localization {
        display: none;
    }

    .welcome-screen__img {
        max-width: 360px;
    }

    .welcome-screen__info h1 {
        font-size: 32px;
    }

    .welcome-screen__info h3 {
        font-size: 26px;
        font-weight: normal;
    }

    .screen {
        padding-left: 40px;
        padding-right: 40px;
    }

    .screen_padding {
        padding: 50px 40px !important;
    }

    .conflict-screen__list-item {
        max-width: 47% !important;
        width: 100% !important;
        flex: auto;
    }

    .footer__content .block__second {
        flex: 1;
        flex-direction: column;
    }

    .content_with-sidebar {
        padding-left: 40px;
        padding-right: 40px;
        flex-direction: column;
    }

    .content-sidebar {
        max-width: 100%;
        margin-bottom: 0 !important;
    }

    .container__content-header .card__list {
        padding: 0 60px;
    }

}

@media screen and (max-width: 768px) {

    /* header */
    .home .screen {
        margin-bottom: 70px;
    }

    .welcome-screen,
    .welcome-screen__info-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .welcome-screen__info h1,
    .welcome-screen__info h3,
    .welcome-screen__info p {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .conflict-screen__list-item {
        align-items: center;
    }

    .about-screen {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .about-screen__button {
        margin: auto
    }

    .news-screen__header {
        flex-direction: column;
        gap: 30px;
    }

    .footer__content {
        width: 80%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .footer__content .block {
        align-items: center;
    }

    .footer__content li,
    .social_footer,
    .footer .qr__info,
    .footer .qr__info .row,
    .footer .link,
    .footer__content .list,
    .footer__content .list .item,
    .contact__list .main-title {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer__content .block__second-list .item {
        justify-content: center;
    }

    .footer__content .list .item {
        gap: 10px;
    }

    .footer__content .block__first,
    .footer__content .block__third {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .search_header {
        display: none;
    }

    .header__search-mobile {
        display: block;
    }

    .modal {
        padding: 0 40px;
    }

    .container__content-header .card__list {
        flex-wrap: wrap;
    }

    .card__item {
        flex: auto;
        width: 47%;
    }

    .container__content-header_about {
        margin-bottom: 160px;
    }

    .container__content-header .card__list {
        bottom: -25%;
    }

    .photo-card__list .item_about {
        max-width: 320px;
        height: 230px;
    }
}

@media screen and (max-width: 480px) {

    .header__phone,
    .header__button {
        display: none;
    }

    .modal,
    .header__search-mobile .hide,
    .header {
        padding: 0 20px;
    }

    .screen {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1,
    .h1 {
        font-size: 28px;
    }

    h2,
    .h2 {
        font-size: 26px;
    }

    h3,
    .h3 {
        font-size: 24px;
    }

    h4,
    .h4 {
        font-size: 20px;
    }

    h5,
    .h5 {
        font-size: 18px;
    }

    h6,
    .h6 {
        font-size: 16px;
    }

    .h7 {
        font-size: 15px !important;
    }

    .h8 {
        font-size: 14px;
    }

    p,
    .p {
        font-size: 14px;
    }

    .conflict-screen__list-item__description,
    .about-screen__info h3,
    .about-screen__info p {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .conflict-screen__list-item {
        max-width: 100% !important;
    }

    .sidebar {
        flex-direction: column;
    }

    .sidebar__left {
        max-width: 100%;
        padding: 20px 30px 150px;
        background: transparent;
    }

    .sidebar__phone,
    .sidebar__phone-border {
        display: flex;
    }

    .sidebar__right {
        display: none;
    }

    .overlay_mobile,
    .sidebar {
        top: 70px;
    }

    .sidebar__bar {
        display: none;
    }

    .sidebar__nav-item {
        height: 50px;
    }

    .sidebar__nav-item .row .icon {
        display: none;
    }

    .sidebar__nav-item.active {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 0;
        margin: 0;
        background: #fff;
    }

    .sidebar__nav-item>.row {
        position: relative;
    }

    .sidebar__nav-item>.row::before {
        content: url(./../icons/arrow-90.svg);
        height: 20px;
        top: 0;
        bottom: 0;
        left: 100%;
        margin: auto 0;
        position: absolute;
    }

    .sidebar__nav-item.active>.row {
        height: 60px;
        padding: 20px 40px;
        background: var(--color_main-light_2);
    }

    .sidebar__nav-item.active>.row::before {
        transform: rotate(180deg);
        left: 20px;
    }

    .sidebar__nav-item.active .children {
        padding: 20px 40px;
        gap: 20px;
    }

    .sidebar__mobile-list {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: 100%;
    }

    .sidebar__mobile-list .social {
        justify-content: start;
    }

    .check-screen__row,
    .faq-screen__buttons {
        flex-direction: column;
    }

    .check-screen__button,
    .faq-screen__button {
        max-width: 100%;
    }

    .content__section-journal {
        flex-direction: column;
    }

    .content__section-journal__list {
        margin: 0 !important;
    }

    .content__people-card {
        flex-direction: column;
    }

    .content__people-card_small {
        flex-direction: row;
    }

    .card__item h1,
    .card__item p {
        text-align: start;
    }

    .card__item {
        display: flex;
        width: 100%;
        gap: 20px;
    }

    .container__content-header .card__list {
        padding: 0;
        position: relative;
        gap: 20px;
    }

    .container__content-header_about {
        padding: 40px;
        margin-bottom: 0;
    }

    .photo-card__list .item_about {
        max-width: 100%;
    }

    .pagination .count,
    .pagination .result-count {
        display: none;
    }

    .appeal {
        flex-direction: column;
        align-items: start;
    }

    .appeal .button {
        max-width: 100%;
    }

    .youtube-modal,
    .youtube-modal iframe,
    .about-screen__video {
        min-height: 200px;
        max-height: 220px;
    }

    .content_with-sidebar {
        padding-left: 20px;
        padding-right: 20px;
    }

    .advertisement {
        flex-direction: column;
        gap: 10px;
    }

    .advertisement_center {
        align-items: start !important;
    }

    .content__people-card_author {
        flex-direction: column !important;
    }

    .content__people-card_author .button {
        max-width: 100% !important;
    }

    .event {
        gap: 20px;
    }

    .contacts__list {
        gap: 40px;
        flex-direction: column;
    }

    .contacts__list .children .children_row {
        flex-direction: column !important;
    }

    .map,
    .ymaps,
    .map iframe {
        height: 400px;
    }
}