/* ui */

h1 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 125.4%;
}

h2 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

h3 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
}

h4 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
}

h5 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
}

h6 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 175%;
}

p {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 175%;
}

.text_active {
    color: var(--color_main-light_1);
}

/* Forms */

input,
button,
.button,
.button_main::after,
a,
.link,
.bar__container * {
    transition: 0.3s ease-in-out;
}

input:hover,
button:hover,
a:hover,
.link:hover,
.overlay:hover,
.play__container:hover {
    cursor: pointer;
}

.input {
    padding: 10px 15px;
    background-color: var(--color_main-light_2);
    color: var(--color__text_4);
    border-radius: 5px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.button {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.button_main {
    background: var(--color_linear_active);
}

.button_main::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: var(--color_linear_active_hover);
    opacity: 0;
    z-index: 0;
    position: absolute;
}

.button_main:hover::after {
    opacity: 1;
}

.button_main span {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 171.4%;
    text-transform: uppercase;
    z-index: 1;
}

/* overlay */

.overlay {
    position: fixed;
    margin-left: -100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    background-color: #10322C;
    mix-blend-mode: multiply;
    opacity: 0.6;
    z-index: 10;
}

.overlay.active {
    margin-left: 0;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    margin-bottom: auto;
    top: 0;
    left: -200%;
    bottom: 0;
    right: 0;
    transition: 0.6s ease-in-out;
    z-index: 11;
}

.modal.active {
    left: 0;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: -100%;
    transition: 0.6s ease-in-out;
    z-index: 11;
}

.modal__close.active {
    right: 20px;
}

.modal__close .bar {
    background: #fff;
}