/* ui */

h1,
.h1 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 125%;
}

h2,
.h2 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

h3,
.h3 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
}

h4,
.h4 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
}

h5,
.h5 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
}

h6,
.h6 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 125%;
}

.h7 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
}

.h8 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
}

.big {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
}

p,
.p {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: var(--color__text_2);
}

small,
.small {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
}

.text_active {
    color: var(--color_main-light_1);
}

.text_bold {
    font-weight: bold;
}

.text_normal {
    font-weight: normal !important;
}

.text_light {
    font-weight: 400;
}

.text_underline {
    text-decoration: underline;
}

.text_uppercase {
    text-transform: uppercase;
}

.text_center {
    text-align: center;
}

.text_light-gray {
    color: var(--color__text_4);
    opacity: 0.8;
}

.text_white {
    color: var(--color__text_5) !important;
}

.text_black,
.content__section h1,
.content__section .h1,
.content__section h2,
.content__section .h2,
.content__section h3,
.content__section .h3,
.content__section h4,
.content__section .h4,
.content__section h5,
.content__section .h5,
.content__section h6,
.content__section .h6,
.content__section .h7,
.content__section .h8 {
    color: var(--color__text_0) !important;
}

.text_gray {
    color: var(--color__text_3) !important;
}

.text_red {
    color: var(--color_danger);
}

.content__section h1,
.content__section .h1,
.content__section h2,
.content__section .h2,
.content__section h3,
.content__section .h3,
.content__section h4,
.content__section .h4,
.content__section h5,
.content__section .h5,
.content__section h6,
.content__section .h6,
.content__section .h7,
.content__section .h8,
.content__section p,
.content__section .p,
.table {
    margin-bottom: 30px;
}

.content__section ol li {
    list-style: decimal;
    margin-left: 15px;
}

.content__section ol li,
.content__section ul li {
    margin-bottom: 10px;
}

.content__section ul li {
    display: flex;
    justify-content: start;
    align-items: start;
}

.content__section ul li p {
    width: 100%;
}

.content__section ul li::before,
.list_dot::before {
    content: ' ';
    float: left;
    margin-top: 9px;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__section ul li::before {
    background: var(--color_main-light_1);
}

.list_dot::before {
    background: var(--color__text_4);
}

.content__section ul li p:last-child,
.content__section ol li p:last-child {
    margin: 0;
}

.content__section ol,
.content__section ul {
    margin-bottom: 20px;
}

.content__section a,
.content__section .link {
    color: var(--color_main-light_1);
    text-decoration: underline;
    font-weight: bold;
}

.content__section .button_transparent {
    text-decoration: none;
}

.ls_none::before {
    display: none !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/*  */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.ai_center {
    align-items: center;
}

.gap_10 {
    gap: 10px;
}

.gap_20 {
    gap: 20px;
}

.gap_30 {
    gap: 30px;
}

.gap_40 {
    gap: 40px;
}



/* Forms */

input,
button,
.button,
.button_main::after,
a,
.link,
.bar__container * {
    transition: 0.3s ease-in-out;
}

input:hover,
button:hover,
a:hover,
.link:hover,
.overlay:hover,
.play__container:hover,
.step-screen__list-item:hover {
    cursor: pointer;
}

.link:hover {
    color: var(--color_main-light_1) !important;
}

.link_next::after {
    content: url(./../icons/arrow.svg);
    margin-left: 10px;

}

.link_next {
    text-transform: uppercase !important;
    color: var(--color__text_0) !important;
    font-weight: normal;
}

.input {
    padding: 10px 15px;
    background-color: var(--color_main-light_2);
    color: var(--color__text_4);
    border: 1px solid transparent;
    border-radius: 5px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.input:focus,
.input:hover {
    border-color: var(--color_main-light_1)
}

.button {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 10px;
    cursor: pointer;
}

.button_success {
    background: var(--color_main-light_1);
    color: var(--color__text_5);
    padding: 10px 20px;
}

.button_transparent {
    max-width: 220px;
    min-width: 170px;
    width: 100%;
    height: 60px;
    border: 1px solid var(--color__text_4);
    color: var(--color_main-light_1);
    font-weight: 600;
    background: transparent;
}

.button_transparent:hover {
    background-color: var(--color_main-light_1);
    color: var(--color__text_5);
}

.button_main {
    max-width: 220px;
    min-width: 170px;
    background: var(--color_linear_active);
}

.button_main::after,
.gradient-bg__active::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    z-index: 0;
    background: transparent;
    position: absolute;
}

.button_main::after {
    background: var(--color_linear_active_hover);
}

.gradient-bg__active * {
    z-index: 1;
}

.gradient-bg__active::after {
    background: var(--color_main-light_2);
}

.button_main:hover::after,
.gradient-bg__active:hover::after,
.gradient-bg__active.active::after {
    opacity: 1;
}

.button_main span {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    z-index: 1;
}

/* overlay */

.overlay {
    position: fixed;
    margin-left: -100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 1s ease-in-out;
    background-color: #10322C;
    mix-blend-mode: multiply;
    opacity: 0;
    z-index: 10;
}

.overlay.active {
    margin-left: 0;
    transition: 0.3s ease-in-out;
    opacity: 0.6;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    margin-bottom: auto;
    top: 0;
    left: -200%;
    bottom: 0;
    right: 0;
    transition: 0.8s ease-in-out;
    z-index: 11;
}

.modal.active {
    left: 0;
    transition: 0.5s ease-in-out;

}

.modal__close {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 11;
    opacity: 0;
    transition: 1s ease-in-out;
}

.modal__close.active {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.modal__close .bar {
    background: #fff;
}

/* tabs */

.tabs__list .item {
    display: none;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.tabs__list .item.active {
    display: flex;
}

.disable {
    opacity: 0.5;
}

.flex_column {
    flex-direction: column;
}